
/*Menu Icon Start*/
.menuIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    background-color: #252525;
    padding: 9.5px 8.5px;
    margin: 2rem 0;
    border-radius: 25px;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 3px 0;
}

.leftNav {
    width: 100%;
    text-align: left;
    padding: 0;

}

.nav {
    padding: 8% 15%;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    width: 100%;
    color: #FFF;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

.nav:hover {
    background-color: white;
    color: #0099FF;
}